/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: rgba(222,22,333,0.3);
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: rgba(211,211,211, 0.5);
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: #ffb340;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 5vh;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.comments{
  margin-top: 5vh;
}

input.comment-submit {
  outline: none;
}


.comment-submit {
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(255,255,255,0);
}

.comments h4 {
  border-bottom: 6px solid #3333;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.comment-list{
  padding-bottom: 3vh;
}

.fa-star{
  color: chocolate;
}

#favorites_button {
  color: hotpink;
  background-color: bisque;
  width: 14vw;
  min-width: 200px;
  border: 1px solid hotpink;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  margin-right: 1vw;
}


a.favorite-btn {
  display: block;
  text-align: center;
  height: 6vh;
  line-height: 6vh;
}

.scroll-btn {
  text-decoration: none;
  font-size: 1.5em;
}

.comment-btn {
  background-color: red;
  opacity: 0.5;
  cursor: pointer;
  width: 15vw;
  border: none;
  border-radius: 100px;
  height: 6vh;
  color: white;
}

.fa-comments:before {
  content: "\f086";
  margin-right: 1vw;
}